.ipynb_checkpoints
/outline.numbers
/assignments.numbers
*.numbers
/Interview with Lauren Lee McCarthy. The Artian Podcast. Building Intimacy Through Technology.-vzoSu88jfG0.mkv
/Lauren Lee McCarthy - September 8.jpg
